* text=auto
*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.isl text eol=crlf
*.iss text eol=crlf
*.png binary
*.ico binary
*.ttf binary
